* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.cards-container-1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.card-1 {
    height: 170px;
    width: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    box-shadow: 5px 4px 15px 5px rgba(252, 91, 91, 0.758);
    background-color: #000000;
    border-radius: 10px;
    border-color: white;
}

h3.card-title-1 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
}

p.card-text-1 {
    padding-left: 30px;
    padding-right: 30px;
    color: rgb(255, 255, 255);
}